pipeline/all factories.json
{
	"name": "all factories",
	"properties": {
		"activities": [
			{
				"name": "GetNewDroppedFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": {
							"value": "@concat('UpdateDate lt ', '''', pipeline().parameters.run_date, '''')",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "control_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Per_Factory_model",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetNewDroppedFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetNewDroppedFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_bronze_to_silver",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@item().FileLocation",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['dataModelName']"
											},
											"sink": {
												"name": "dataModelName",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['operation']"
											},
											"sink": {
												"name": "operation",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data']['factory']"
											},
											"sink": {
												"name": "factory",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['lineId']"
											},
											"sink": {
												"name": "lineId",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['date']"
											},
											"sink": {
												"name": "date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['data']['oaDate']"
											},
											"sink": {
												"name": "oaDate",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['feature1']"
											},
											"sink": {
												"name": "feature1",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['dim']"
											},
											"sink": {
												"name": "dim",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['yield']"
											},
											"sink": {
												"name": "yield",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['conductivity']"
											},
											"sink": {
												"name": "conductivity",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['feature2']"
											},
											"sink": {
												"name": "feature2",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['productionRate']"
											},
											"sink": {
												"name": "productionRate",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['isFeature3']"
											},
											"sink": {
												"name": "isFeature3",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"path": "$['data']['yieldAvg']"
											},
											"sink": {
												"name": "yieldAvg",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['conductivityAvg']"
											},
											"sink": {
												"name": "conductivityAvg",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['feature2Avg']"
											},
											"sink": {
												"name": "feature2Avg",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['fat']"
											},
											"sink": {
												"name": "fat",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['protein']"
											},
											"sink": {
												"name": "protein",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['lactose']"
											},
											"sink": {
												"name": "lactose",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['urea']"
											},
											"sink": {
												"name": "urea",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['blood']"
											},
											"sink": {
												"name": "blood",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['component7']"
											},
											"sink": {
												"name": "component7",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['ecm']"
											},
											"sink": {
												"name": "ecm",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['fcm']"
											},
											"sink": {
												"name": "fcm",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['fatAvg']"
											},
											"sink": {
												"name": "fatAvg",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['proteinAvg']"
											},
											"sink": {
												"name": "proteinAvg",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['lactoseAvg']"
											},
											"sink": {
												"name": "lactoseAvg",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['ureaAvg']"
											},
											"sink": {
												"name": "ureaAvg",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['data']['bloodAvg']"
											},
											"sink": {
												"name": "bloodAvg",
												"type": "Int32"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "bronze",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "silver_2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"run_date": {
				"type": "string",
				"defaultValue": "2022-06-28"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-07-05T10:55:15Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}